




  .header {
      display: block;
  }
  .header ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  li {
      display: inline;
      padding: 10px;
      margin: 0;
  }
  li a {
    display: inline;
    text-decoration: none;
    color: #000;
  }
  li a:hover {
    text-decoration: underline
  }
  .logo{
    margin-top:200px;
    margin-bottom:20px;
  }
  .search{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }
  .search:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .search:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
  }
  .magnifying{
      height: 25px;
      position:relative;
      top: 5px;
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    right: 5px;
  }
  .buttons{
    margin-top:30px;
  }
  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }

  


